.file-hosting-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-around;
  padding: 20px;
}

.file-hosting-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  background-color: #f9f9f9;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease;
  width: 48px;
  height: 48px;
  text-align: center;
}

.file-hosting-button:hover {
  transform: scale(1.05);
}

.file-hosting-logo {
  width: 24px;
  height: 24px;
  object-fit: contain;
  margin-bottom: 10px;
}

.feedback-page {
  padding-right: $gutter-width / 2;
}

.feedback-form h4 {
  margin: 0;
}

.feedback-system-info {
  white-space: pre-wrap;
  margin-bottom: $half-gutter;
}

.feedback-instructions-notype {
  font-size: large;
  text-align: center;
  margin-top: 10%;
}

.dropzone-feedback {
  height: 100px;
  width: 30%;
  display: table-cell;
  margin: 10px;
  padding: 20px;
  border-radius: 5px;
  border-style: dashed;
  border-width: 2px;
  border-color: $gray;
}

.dropzone-feedback.hover-click {
  border-style: solid;
  border-width: 2px;
  border-color: $link-color;
}

.dropzone-feedback.hover-valid {
  border-style: solid;
  border-width: 2px;
  border-color: $brand-success;
}

.dropzone-feedback.hover-invalid {
  border-style: solid;
  border-width: 2px;
  border-color: $brand-warning;
}

.feedback-instructions {
  margin-bottom: $half-gutter;
}

@media (max-height: 899px) {
  .usage-instructions-content {
    max-height: 15vh;
    overflow-y: auto;
    align-items: initial !important;
  }

  .hide-when-small {
    display: none;
  }
}

.feedback-controls {
  display: flex;
  flex-direction: row;
  height: 100%;

  >* {
    .toggle-container {
      margin-top: 4px;
    }
  }
}

#btn-attach-feedback {
  margin-left: 8px;
}

.feedback-files {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  min-height: 100%;
  overflow-y: auto;

  .list-group-item {
    display: flex;
    width: 33%;
    height: 33%;
    justify-content: center;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
}

.feedback-form {
  display: flex;
  flex-direction: column;
  justify-items: center;
  gap: 0px;
  overflow-y: auto;
}

.feedback-form #textarea-feedback-title,
.feedback-form #textarea-feedback-steps,
.feedback-form #textarea-feedback-expectations,
.feedback-form #textarea-feedback-result,
.feedback-form #textarea-feedback-attachment-url,
.feedback-form #textarea-feedback-message,
#textarea-feedback-title,
#textarea-feedback-steps,
#textarea-feedback-expectations,
#textarea-feedback-result,
#textarea-feedback-attachment-url,
#textarea-feedback-message {
  overflow-y: 'hidden';
  width: 100%;
  min-height: 100%;
  resize: none;
  margin-bottom: 5px;
  position: absolute;
  top: 0;
  bottom: 0;
  > .disabled {
    cursor: not-allowed;
    background-color: $gray-lighter;
    color: $gray-light;
    border-color: $gray-lighter;
  }
}

#textarea-feedback-attachments-url {
  max-height: 20%;
}

.feedback-file-drop-flex-outer {
  max-height: 100px;

  .dropzone {
    height: calc(100% - 20px) !important;
  }
}

.feedback-outdated {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#feedback-topic-dropdown {
  margin-right: $gutter-width;
}

.feedback-type-selection {
  justify-content: center;
  align-items: center;

  .icon-button {
    width: 110px;
    height: 110px;
    margin: $half-gutter;
    justify-content: space-evenly;

    svg {
      width: 2em;
      height: 2em;
    }
  }
}

.feedback-search-result {
  position: absolute;
  z-index: 1;
  background-color: $brand-menu;
  border: $border-width solid $border-color;
  padding: 8px;
  max-height: 10em;
  overflow-y: auto;
}

.feedback-result-tag {
  font-size: small;
  background-color: rgba($gray-light, 0.3);
  border: $border-width solid $border-color;
  display: inline;
  padding: 2px 4px;
}